<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonMetadata.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonMetadata.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AmazonMetadata.Properties.Settings>
            <setting name="AmazonLocale" serializeAs="String">
                <value>US</value>
            </setting>
        </AmazonMetadata.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AmazonMetadata.Properties.Settings>
            <setting name="AmazonSubscriptionId" serializeAs="String">
                <value>1B9Q0Y02W3RCF0ZKQ9R2</value>
            </setting>
            <setting name="AmazonMetadata_com_amazon_webservices_AWSECommerceService"
                serializeAs="String">
                <value>http://soap.amazon.com/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonSearchMode" serializeAs="String">
                <value>DVD</value>
            </setting>
            <setting name="AmazonUrlEN" serializeAs="String">
                <value>http://soap.amazon.com/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlUK" serializeAs="String">
                <value>http://soap.amazon.co.uk/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlDE" serializeAs="String">
                <value>http://soap.amazon.de/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlJP" serializeAs="String">
                <value>http://soap.amazon.co.jp/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlFR" serializeAs="String">
                <value>http://soap.amazon.fr/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlCA" serializeAs="String">
                <value>http://soap.amazon.ca/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="Genres" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Action</string>
                        <string>Adventure</string>
                        <string>Animated</string>
                        <string>Animation</string>
                        <string>Biography</string>
                        <string>Comedy</string>
                        <string>Crime</string>
                        <string>Documentary</string>
                        <string>Drama</string>
                        <string>Family</string>
                        <string>Fantasy</string>
                        <string>Film-Noir</string>
                        <string>Game-Show</string>
                        <string>History</string>
                        <string>Horror</string>
                        <string>Music</string>
                        <string>Musical</string>
                        <string>Mystery</string>
                        <string>News</string>
                        <string>Reality-TV</string>
                        <string>Romance</string>
                        <string>Sci-Fi</string>
                        <string>Short</string>
                        <string>Sport</string>
                        <string>Talk-Show</string>
                        <string>Thriller</string>
                        <string>War</string>
                        <string>Western</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AmazonMetadata.Properties.Settings>
    </applicationSettings>
</configuration>