<?xml version="1.0" encoding="UTF-8"?>

<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.                                                                 -->
<?define Property_ProductVersion = "3.0.0.0" ?>
<?define Property_ProductCode = "282ffe47-5856-4f07-a5e1-617a24a9b4a5" ?>
<?define Property_UpgradeCode = "0921ec75-fddc-46f8-bdf4-a5d697351567" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="$(var.Property_ProductCode)"
	         UpgradeCode="$(var.Property_UpgradeCode)"
	         Name="!(loc.Property_ProductName)"
	         Language="!(loc.Property_ProductLanguage)"
	         Version="$(var.Property_ProductVersion)"
	         Manufacturer="!(loc.Property_CompanyName)">

    <Package Description="!(loc.Package_Description)"
		         Comments="!(loc.Package_Comments)"
		         InstallerVersion="200"
		         Compressed="yes" />

    <!--<Binary Id="OMLDB" SourceFile="..\..\SQL Scripts\Title Database.sql" />-->
    <!-- This information enables Windows Installer major upgrade functionality so users can seamlessly  -->
    <!-- install a new version of the product and have the old version automatically uninstall behind    -->
    <!-- the scenes. See the following topic in the MSDN Library for additional information:             -->
    <!-- http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/major_upgrades.asp   -->
    <Upgrade Id="$(var.Property_UpgradeCode)">
      <UpgradeVersion OnlyDetect="yes"
                      Property="OLDERVERSIONBEINGUPGRADED"
                      Minimum="1.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.Property_ProductVersion)"
                      IncludeMaximum="no"/>
      <UpgradeVersion Minimum="$(var.Property_ProductVersion)"
                      OnlyDetect="yes"
                      Property="NEWERVERSIONDETECTED" />
    </Upgrade>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Directory Id="SQLINSTALLERSOURCE" Name="SQLInstaller">
        <Component Id="SQLEXPR_x86_ENU.exe" Guid="50F4CF02-7061-4d2c-8DE5-1F26A9FB9885" DiskId="1">
          <File Name="SQLEXPR_x86_ENU.exe"
                            Source="..\..\PostInstallerWizard\SQLInstallers\SQLEXPR_x86_ENU.exe" Checksum="no" />
        </Component>
        <Component Id="TitleDatabase.sql" Guid="D559AFE1-A066-4bf6-86EE-9DF8124E564E" DiskId="1">
          <File Name="Title Database.sql"
                            Source="..\..\SQL Scripts\Title Database.sql" Checksum="no" />
        </Component>
        <Component Id="SQLConfigNoTools_x32.ini" Guid="95458A50-59EE-4408-958E-1E0904C95442" DiskId="1">
          <File Name="SQLConfigNoTools_x32.ini"
                            Source="..\..\SQL Scripts\SQLConfigNoTools_x32.ini" Checksum="no" />
        </Component>

      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="ServerGroup">
      <ComponentRef Id ="SQLEXPR_x86_ENU.exe"/>
      <ComponentRef Id ="TitleDatabase.sql"/>
      <ComponentRef Id ="SQLConfigNoTools_x32.ini"/>
    </ComponentGroup>

    <Feature Id="APPLICATIONROOTFEATURE" Title="Open Media Library" Level="1" AllowAdvertise="no" Absent="disallow">
      <ComponentGroupRef Id="CommonComponents"/>
      <ComponentGroupRef Id="UserGuide"/>
      <Feature Id="CLIENTFEATURE" Title="OML Client" Level="1" AllowAdvertise="no" Description="Install the client components">
        <ComponentGroupRef Id="ClientGroup"/>
      </Feature>
      <Feature Id="SERVERFEATURE" Title="OML Server" Level="1" AllowAdvertise="no" Description="Install the server components.">
        <ComponentGroupRef Id ="ServerGroup"/>
      </Feature>
    </Feature>

    <!-- This UIRef element specifies what WiXUI dialog set to use for the setup UI. This package uses   -->
    <!-- the WixUI_InstallDir dialog set, which provides a welcome page, a license agreement page, a     -->
    <!-- page to allow changing the installation path, an installation confirmation page, a progress     -->
    <!-- page and a completion page. Other dialog sets are available in the WiX toolset and are          -->
    <!-- described in more detail in the WiX documentation.                                              -->
    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchPSWServer"><![CDATA[(&SERVERFEATURE=3)]]></Publish>
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchPSWClient"><![CDATA[(&SERVERFEATURE<>3)]]></Publish>
    </UI>


    <CustomAction Id="LaunchPSWServer"
              FileKey="PostInstallerWizard.exe"
              ExeCommand="server"/>

    <CustomAction Id="LaunchPSWClient"
          FileKey="PostInstallerWizard.exe"
          ExeCommand=""/>
  </Product>
</Wix>


