<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="np-no-security">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="nt-no-security" portSharingEnabled="true">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OMLEngineService.TranscodingServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="OMLEngine.TitleCollectionAPIBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>


        <behavior name="OMLEngine.TrailersProxyServiceBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>



      </serviceBehaviors>
    </behaviors>
    <services>

      <service behaviorConfiguration="OMLEngineService.TranscodingServiceBehavior" name="OMLEngineService.TranscodingService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8321/OMLTS" />
          </baseAddresses>
        </host>
        <endpoint address="" name="TranscodingNetService" binding="netTcpBinding" bindingConfiguration="nt-no-security" contract="OMLEngineService.ITranscodingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="nt-no-security" />
      </service>
      <service behaviorConfiguration="OMLEngine.TitleCollectionAPIBehavior" name="OMLEngine.TitleCollectionAPI">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8321/OMLTC" />
          </baseAddresses>
        </host>
        <endpoint address="" name="TitleCollectionNetService" binding="netTcpBinding" bindingConfiguration="nt-no-security" contract="OMLEngine.ITitleCollectionAPI">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="nt-no-security" />
      </service>


      <service behaviorConfiguration="OMLEngine.TrailersProxyServiceBehavior" name="OMLEngine.TrailersProxyService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8484/3f0850a7-0fd7-4cbf-b8dc-c7f7ea31534e" />
          </baseAddresses>
        </host>
        <endpoint address="" name="TrailersProxyService" binding="netTcpBinding" bindingConfiguration="nt-no-security" contract="OMLEngine.TrailersProxyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="nt-no-security" />
      </service>


    </services>
  </system.serviceModel>

  <appSettings>
    <add key="Transcode.BufferSize" value="50000000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
