<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.                                                                 -->
<?define Property_ProductVersion = "4.2.0.1798" ?>
<?define Property_ProductCode = "FC0D9A41-3371-456E-9913-9966FB38B4C5" ?>
<?define Property_UpgradeCode = "0921ec75-fddc-46f8-bdf4-a5d697351567" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Product Id="$(var.Property_ProductCode)"
           Name="!(loc.Property_ProductName)"
           Language="!(loc.Property_ProductLanguage)"
           Version="$(var.Property_ProductVersion)"
           Manufacturer="!(loc.Property_CompanyName)"
           UpgradeCode="$(var.Property_UpgradeCode)">
    
		<Package Description="!(loc.Package_Description)"
             Comments="!(loc.Package_Comments)"
             InstallerVersion="405"
             InstallPrivileges="elevated"
             Compressed="yes" />

    <!-- The media table defines the location that the MSI will look to find source files during         -->
    <!-- installation or repair scenarios. In this case, the source files are in a cab file that will be -->
    <!-- embedded directly into the MSI at build time.                                                   -->
    <Media Id="1" Cabinet="OpenMediaLibrary.cab" EmbedCab="yes" />

    <!--<Binary Id="OMLDB" SourceFile="..\SQL Scripts\Title Database.sql" />-->
    <!-- This information enables Windows Installer major upgrade functionality so users can seamlessly  -->
    <!-- install a new version of the product and have the old version automatically uninstall behind    -->
    <!-- the scenes. See the following topic in the MSDN Library for additional information:             -->
    <!-- http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/major_upgrades.asp   -->
    <Upgrade Id="$(var.Property_UpgradeCode)">
      <UpgradeVersion OnlyDetect="no"
                      Property="OLDERVERSIONBEINGUPGRADED"
                      Minimum="1.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.Property_ProductVersion)"
                      IncludeMaximum="no"/>
      <UpgradeVersion Minimum="$(var.Property_ProductVersion)"
                      OnlyDetect="yes"
                      Property="NEWERVERSIONDETECTED" />
    </Upgrade>

    <Feature Id="APPLICATIONROOTFEATURE" Title="Open Media Library" Level="1" AllowAdvertise="no" Absent="disallow">
      <ComponentGroupRef Id="CommonComponents"/>
      <ComponentGroupRef Id="UserGuide"/>
      <FeatureGroupRef Id="CLIENTFEATURES"/>
    </Feature>

    <!-- The InstallExecuteSequence table describes the order that actions will be executed during       -->
    <!-- installation, repair and uninstall of this product.                                             -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <LaunchConditions After="AppSearch"/>

    </InstallExecuteSequence>

    <!-- The InstallUISequence table describes the order that actions will be executed when the user     -->
    <!-- runs setup in full UI mode. Some actions must be scheduled in the UI and the execute sequence   -->
    <!-- tables to ensure that they will run regardless of whether the user runs setup in full UI mode   -->
    <!-- or in reduced UI or silent modes.                                                               -->
    <InstallUISequence>
      <Custom Action="CA_BlockOlderVersionInstall" After="FindRelatedProducts">
        <![CDATA[NEWERVERSIONDETECTED]]>
      </Custom>
      <Custom Action="CA_ErrWrongWindowsVersion" Before="CostInitialize"><![CDATA[(NOT VersionNT >= 500) AND NOT Installed]]></Custom>
    </InstallUISequence>

    <!-- This UIRef element specifies what WiXUI dialog set to use for the setup UI. This package uses   -->
    <!-- the WixUI_InstallDir dialog set, which provides a welcome page, a license agreement page, a     -->
    <!-- page to allow changing the installation path, an installation confirmation page, a progress     -->
    <!-- page and a completion page. Other dialog sets are available in the WiX toolset and are          -->
    <!-- described in more detail in the WiX documentation.                                              -->
    <UI>
      <UIRef Id="WixUI_OML" />
    </UI>
  </Product>
</Wix>
