<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonMetaData2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AWSECommerceServiceBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="AWSECommerceServiceBinding1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ecs.amazonaws.com/onca/soap?Service=AWSECommerceService"
                binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding"
                contract="Amazon.ECS.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <AmazonMetaData2.Properties.Settings>
            <setting name="AWEAccessKeyId" serializeAs="String">
                <value>0WF0CEYJ050W88HKR902</value>
            </setting>
            <setting name="AWEAccessKey" serializeAs="String">
                <value>NSl+ZEsNTWAa0MyU0g8TpERcITbaYWKwUVEksco5</value>
            </setting>
            <setting name="AmazonSearchMode" serializeAs="String">
                <value>DVD</value>
            </setting>
            <setting name="AmazonUrlEN" serializeAs="String">
                <value>http://soap.amazon.com/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlUK" serializeAs="String">
                <value>http://soap.amazon.co.uk/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlDE" serializeAs="String">
                <value>http://soap.amazon.de/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlJP" serializeAs="String">
                <value>http://soap.amazon.co.jp/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlFR" serializeAs="String">
                <value>http://soap.amazon.fr/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="AmazonUrlCA" serializeAs="String">
                <value>http://soap.amazon.ca/onca/soap?Service=AWSECommerceService</value>
            </setting>
            <setting name="Genres" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Action</string>
                        <string>Adventure</string>
                        <string>Animated</string>
                        <string>Animation</string>
                        <string>Biography</string>
                        <string>Comedy</string>
                        <string>Crime</string>
                        <string>Documentary</string>
                        <string>Drama</string>
                        <string>Family</string>
                        <string>Fantasy</string>
                        <string>Film-Noir</string>
                        <string>Game-Show</string>
                        <string>History</string>
                        <string>Horror</string>
                        <string>Music</string>
                        <string>Musical</string>
                        <string>Mystery</string>
                        <string>News</string>
                        <string>Reality-TV</string>
                        <string>Romance</string>
                        <string>Sci-Fi</string>
                        <string>Short</string>
                        <string>Sport</string>
                        <string>Talk-Show</string>
                        <string>Thriller</string>
                        <string>War</string>
                        <string>Western</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AmazonLocale" serializeAs="String">
                <value>US</value>
            </setting>
        </AmazonMetaData2.Properties.Settings>
    </userSettings>
</configuration>