<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMLEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OMLEngine.Properties.Settings.OMLConnectionString"
            connectionString="Data Source=localhost\OML;Initial Catalog=OML;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <OMLEngine.Properties.Settings>
            <setting name="CopyImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FoldersAreTitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddParentFoldersToTitleName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gbTitledFanArtFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gsTitledFanArtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMenuCustom1" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMenuCustom2" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMenuCustom3" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMenuCustom4" serializeAs="String">
                <value />
            </setting>
            <setting name="StartMenuCustom5" serializeAs="String">
                <value />
            </setting>
        </OMLEngine.Properties.Settings>
    </userSettings>
</configuration>
