<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\OML\OMLEngineService\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\OML\OMLEngineService\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics wmiProviderEnabled="true">
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <netNamedPipeBinding>
                <binding name="np-no-security">
                    <security mode="None">
                        <transport protectionLevel="None"/>
                    </security>
                </binding>
            </netNamedPipeBinding>
          
            <netTcpBinding>
                <binding name="nt-no-security">
                    <security mode="None" >
                        <transport protectionLevel="None"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>

        <behaviors>
            <serviceBehaviors>
                <behavior name="OMLEngineService.TranscodingServiceBehavior">
                    <!--<serviceMetadata httpGetEnabled="true" />-->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="OMLEngine.TitleCollectionAPIBehavior">
                    <!--<serviceMetadata httpGetEnabled="true" />-->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service behaviorConfiguration="OMLEngineService.TranscodingServiceBehavior"
                     name="OMLEngineService.TranscodingService">
                <endpoint address="net.tcp://localhost:4321/OMLTS" name="TranscodingNetService"
                          binding="netTcpBinding" bindingConfiguration="nt-no-security"
                          contract="OMLEngineService.ITranscodingService" />
            </service>

            <service behaviorConfiguration="OMLEngine.TitleCollectionAPIBehavior"
                     name="OMLEngine.TitleCollectionAPI">
                <endpoint address="net.tcp://localhost:4321/OML-TitleCollection" name="TitleCollectionNetService"
                          binding="netTcpBinding" bindingConfiguration="nt-no-security"
                          contract="OMLEngine.ITitleCollectionAPI" />
            </service>
        </services>
    </system.serviceModel>

    <appSettings>
        <add key="Transcode.BufferSize" value="50000000" />
    </appSettings>
</configuration>
