<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="np-no-security">
                    <security mode="None">
                        <transport protectionLevel="None"/>
                    </security>
                </binding>
            </netNamedPipeBinding>
        </bindings>

        <client>
            <endpoint address="net.pipe://localhost/OMLTS" name="TranscodingNetService"
                      binding="netNamedPipeBinding" bindingConfiguration="np-no-security"
                      contract="OMLEngineService.ITranscodingService" />
        </client>
    </system.serviceModel>-->
</configuration>
