<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMLEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OMLEngine.Properties.Settings.OMLConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=OML;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <OMLEngine.Properties.Settings>
            <setting name="MountingToolPath" serializeAs="String">
                <value>C:\Program Files\DAEMON Tools Lite\daemon.exe</value>
            </setting>
            <setting name="VirtualDiscDrive" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="VirtualDiscDriveNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopyImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyMoviesServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="MountingToolSelection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FoldersAreTitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseImpersonation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImpersonationUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ImpersonationPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AddParentFoldersToTitleName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gbTitledFanArtFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gsTitledFanArtPath" serializeAs="String">
                <value />
            </setting>
        </OMLEngine.Properties.Settings>
    </userSettings>
</configuration>
