<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMLEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OMLEngine.Properties.Settings>
            <setting name="DaemonTools" serializeAs="String">
                <value />
            </setting>
            <setting name="VirtualDiscDrive" serializeAs="String">
                <value />
            </setting>
            <setting name="VirtualDiscDriveNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </OMLEngine.Properties.Settings>
    </applicationSettings>
</configuration>