<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMLEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OMLEngine.Properties.Settings>
            <setting name="DaemonTools" serializeAs="String">
                <value>c:\program files\daemon tools lite\daemon.exe</value>
            </setting>
            <setting name="VirtualDiscDrive" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="VirtualDiscDriveNumber" serializeAs="Int32">
                <value>0</value>
            </setting>
        </OMLEngine.Properties.Settings>
    </userSettings>
</configuration>