<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="np-no-security">
                    <security mode="None">
                        <transport protectionLevel="None"/>
                    </security>
                </binding>
            </netNamedPipeBinding>
          
            <netTcpBinding>
                <binding name="nt-no-security">
                    <security mode ="None">
                        <transport protectionLevel="None"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>

        <behaviors>
            <serviceBehaviors>
                <behavior name="OMLEngineService.TranscodingServiceBehavior">
                    <!--<serviceMetadata httpGetEnabled="true" />-->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service behaviorConfiguration="OMLEngineService.TranscodingServiceBehavior"
                     name="OMLEngineService.TranscodingService">
                <endpoint address="net.tcp://localhost:4321/OMLTS" name="TranscodingNetService"
                          binding="netTcpBinding" bindingConfiguration="nt-no-security"
                          contract="OMLEngineService.ITranscodingService" />
                <!--
                <endpoint address="mex" name="TranscodingMexService"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/OMLEngineService/TranscodingService/" />
                    </baseAddresses>
                </host>
                -->
            </service>
        </services>
    </system.serviceModel>

    <appSettings>
        <add key="Transcode.BufferSize" value="50000000" />
    </appSettings>
</configuration>
